#!/bin/sh
fs=build/$M3_TARGET-$M3_ISA-$M3_BUILD/$M3_FS
echo kernel fs=$fs
echo console daemon
echo timer daemon
echo m3fs mem `stat --format="%s" $fs` daemon
echo asciiplay /movies/starwars.txt requires=timer requires=vga requires=keyb requires=m3fs
