#!/bin/sh
fs=build/$M3_TARGET-$M3_ISA-$M3_BUILD/$M3_FS
echo kernel -f $fs
echo root
echo console serv=vga serv=keyb daemon
echo timer serv=timer daemon
echo m3fs mem `stat --format="%s" $fs` serv=m3fs daemon
echo init /bin/asciiplay /movies/starwars.txt sess=timer sess=vga sess=keyb sess=m3fs pes=core
