.scons*
.sconf_temp
*~
*.pyc
*.sublime-project
*.sublime-workspace
Cargo.lock
/build
/cross/buildroot
/cross/*/build
/cross/*/src
/cross/*.tar.gz
/cross/*.tar.bz2
/run
/config.log
/dddg_parse_progress.out
/out.csv
