[submodule "hw/gem5"]
	path = platform/gem5
	url = ../gem5-DTU.git
[submodule "platform/hw"]
	path = platform/hw
	url = ../tcu.git
[submodule "src/libs/musl"]
	path = src/libs/musl
	url = ../m3-musl.git
[submodule "src/libs/leveldb"]
	path = src/libs/leveldb
	url = ../m3-leveldb.git
[submodule "src/libs/jpeg"]
	path = src/libs/jpeg
	url = ../libjpeg.git
[submodule "src/libs/flac"]
	path = src/libs/flac
	url = ../libFLAC.git
