[submodule "hw/gem5"]
	path = platform/gem5
	url = git@github.com:Barkhausen-Institut/gem5-TCU.git
[submodule "platform/hw"]
	path = platform/hw
	url = git@github.com:Barkhausen-Institut/tcu-if.git
[submodule "src/libs/musl"]
	path = src/libs/musl
	url = git@github.com:Barkhausen-Institut/m3-musl.git
[submodule "src/libs/leveldb"]
	path = src/libs/leveldb
	url = git@github.com:Barkhausen-Institut/m3-leveldb.git
[submodule "src/libs/flac"]
	path = src/libs/flac
	url = git@github.com:Barkhausen-Institut/m3-flac.git
[submodule "src/apps/bsdutils"]
	path = src/apps/bsdutils
	url = git@github.com:Barkhausen-Institut/m3-bsdcoreutils.git
[submodule "cross/buildroot"]
	path = cross/buildroot
	url = https://git.buildroot.net/buildroot
[submodule "ninjapie"]
	path = ninjapie
	url = git@github.com:Barkhausen-Institut/Ninjapie.git
