#!/bin/sh
fs=build/$M3_TARGET-$M3_ISA-$M3_BUILD/$M3_FS
fssize=`stat --format="%s" $fs`
echo kernel -f $fs
echo root
echo m3fs mem $fssize serv=m3fs daemon memat=0x0:$fssize
echo pager /bin/bench-apps -r 1 4 /bin/fstrace-m3fs -p /tmp/1/ empty /bin/fstrace-m3fs -p /tmp/2/ empty sess=m3fs pes=core:3
