#!/bin/sh
fs=build/$M3_TARGET-$M3_ISA-$M3_BUILD/$M3_FS
echo kernel -f $fs
echo root
echo m3fs mem `stat --format="%s" $fs` serv=m3fs daemon
echo pager serv=pager daemon
echo init /bin/filterchain 16384 sess=m3fs sess=pager
