#!/bin/sh
fs=build/$M3_TARGET-$M3_ISA-$M3_BUILD/$M3_FS
fssize=`stat --format="%s" $fs`
echo kernel -f $fs
echo root
echo m3fs mem $fssize serv=m3fs daemon memat=0x0:$fssize
echo pipes serv=pipes daemon
echo vterm serv=vterm daemon
echo pager /bin/shell sess=m3fs sess=pipes sess=vterm mem=128M pes=core:4 "pes=rot13:2?"
